
                <div role="tabpanel" class="tab-pane" id="lunch">
                    {% for dish in lunch %}
                    <div class="canteenmenuBox">
                        {% if role == conf.canteen_admin_role %}
                        <img src="img/close.png" onclick="delMenu(this, '{{dish['id']}}')" class="canteenmenuBoximg" alt="">
                        {% end %}
                        <div class="left">
                            <a href="canteenItem?id={{dish['id']}}"><img src="{{dish['pic_loc']}}" alt=""></a>
                        </div>
                        <div class="left">
                            <p class="canteenmenuName">
                                <span>{{dish['name']}}</span>
                                <span>{{0.0 if dish['num'] == 0 else round(dish['score']/float(dish['num']), 1)}}</span>
                            </p>
                            {% if len(dish['material']) %}
                            <p>
                                <span>食材：</span>
                                <span class="canteenmenuMaterial">
                                    {{ dish['material'] }}
                                </span>
                            </p>
                            {% end %}
                        </div>
                        <div class="clear"></div>
                    </div>
                    {% end %}
                </div>
