.menu-edit{
    display:none;
}
.zongjia{
    display:none;
}
.tijiao{
    display:none;
}
.tjsu{
    display:none;
}
.tjsu{
    margin-left:7rem;
}
.operate .row {height:3rem;}
.operate .row .minus{width:2rem;height:2rem;background:#44afd1;font-size:1.2rem;line-height:2rem;border:1px solid #44afd1;color:#fff;}
.operate .row .plus{width:2rem;height:2rem;background:#44afd1;font-size:1.2rem;line-height:2rem;border:1px solid #44afd1;color:#fff;}
.operate .row .num{width:2rem;height:2rem;background:#ffffff;font-size:1.2rem;line-height:2rem;border:1px solid #ddd;color:#333;}
