<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" href="css/{{device}}/bootstrap.css">
    <link rel="stylesheet" href="css/{{device}}/default.css">
    <link rel="stylesheet" href="css/{{device}}/PersonalCenter.css">
</head>
<body>
{% include "../navhead.html" %}
<div class="PersonalCenter">
    <ul class="nav nav-tabs" role="tablist">
        <li role="presentation" class="active"><a href="#password" aria-controls="password" role="tab" data-toggle="tab">修改密码</a></li>
        <li role="presentation"><a href="#message" aria-controls="message" role="tab" data-toggle="tab">修改个人信息</a></li>
    </ul>
    <!-- Tab panes -->
    <div class="tab-content">
        <div role="tabpanel" class="tab-pane active" id="password">
            <div class="PersonalCenterBox">
                <div><span>初始密码：</span><input type="password" name="init_password"></div>
                <div><span>新密码：</span><input type="password" name="new_password"></div>
                <div><span>确认密码：</span><input type="password" name="confirm_password"></div>
                <div><span></span><input type="submit" class="SurePassword" value="确认修改"></div>
            </div>
        </div>
        <div role="tabpanel" class="tab-pane" id="message">

            <div class="PersonalCenterBox">
                <p class="editCenter" onclick="editCenter(this)">编辑</p>
                <div class="left" style="width:500px">
                    <div><span>真实姓名：</span><span>{{user['real_name']}}</span></div>
                    <div><span>昵称：</span><span>{{user['nick_name']}}</span></div>
                    <div><span>办公室电话：</span>{{user['office_phone']}}<span></span></div>
                    <div><span>手机：</span><span>{{user['mobile_phone']}}</span></div>
                    <div><span>密码：</span><span>******</span></div>
                </div>
                <div class="left">
                    <div class="centerImg">
                        <img src="{{'img/noimg.jpg' if not user['nick_img_url'] else user['nick_img_url']}}" alt="">
                    </div>
                    <p style="margin:5px;text-align: center">昵称</p>
                </div>
                <div class="clear"></div>
            </div>

            <div class="uplistBox">
                <form display="none" class="form-horizontal left" role="form" enctype="multipart/form-data"  method="post" action="/personal?action=info">
                    <div class="form-group" hidden="hidden">
                        <span for="xsrf" class="col-sm-3 control-label ">xsrf</span>
                        <div class="col-sm-7">
                            <input type="text" class="form-control" name="_xsrf" value="">
                        </div>
                    </div>
                    <div class="form-group ">
                        <span for="real_name" class="col-sm-3 control-label ">真实姓名</span>
                        <div class="col-sm-7 ">
                            <input type="text" class="form-control" name="real_name" placeholder= "请输入真实名字 ">
                        </div>
                    </div>
                    <div class="form-group">
                        <span for="nick_name" class="col-sm-3 control-label">昵称</span>
                        <div class="col-sm-7">
                            <input type="text" class="form-control" name="nick_name" placeholder="请输入昵称">
                        </div>
                    </div>
                    <div class="form-group">
                        <span for="unit" class="col-sm-3 control-label">办公室电话</span>
                        <div class="col-sm-7">
                            <input type="text" class="form-control" name="office_phone" placeholder="请输入办公室电话 ">
                        </div>
                    </div>
                    <div class= "form-group">
                        <span for= "price" class= "col-sm-3 control-label ">手机</span>
                        <div class= "col-sm-7">
                            <input type= "number" class= "form-control" name= "mobile_phone" placeholder="请输入手机号 ">
                        </div>
                    </div>
                    <div class= "form-group">
                        <span for= "picture" class= "col-sm-3 control-label ">昵称图片</span>
                        <div class= "col-sm-7 ">
                            <input type="file" onchange="showPreview(this)"  name="file" />
                        </div>
                    </div>
                    
                    <div class="form-group">
                        <div class="col-sm-12" style="text-align: center">
                            <input type="submit" id="upCenter" class= "btn btn-default">
                        </div>
                    </div>
                </form>
                <div class="left">
                    <img id="portrait" src="img/noimg.jpg" alt="">
                </div>
                <div class="clear"></div>
        </div>
    </div>


</div>

</body>
<script src="js/{{device}}/jquery-1.12.1.js"></script>
<script src="js/{{device}}/bootstrap.min.js"></script>
<script src="js/{{device}}/default.js"></script>
<script src="js/{{device}}/PersonalCenter.js"></script>
</html>
