
<div class="from-group" id="datalist">
    <div id="" class="tab-content ">
        <div class="reserve" id="reserve">
            {% for d in D %}
            <div class="from-order">
                <div class="row re-ly">
                    <!-- 修改了class里面的内容 -->
                    <a  class="col-xs-12 col-sm-12 col-md-12" href="/dish_reserve?id={{d['id']}}&day={{d['time']}}">
                        <!--  修改了class里面的内容 -->
                        <div class="col-xs-24 col-sm-24 col-md-24 menu-img">
                            <img src="{{d['pic_loc']}}" alt="">
                        </div>
                        <!--  修改了class里面的内容 -->
                        <div class="col-xs-23 col-sm-23 col-md-23 menu-txt">
                            <div class="dishes">
                                <div class="row">
                                    <!--   删掉了div标题 -->
                                    <!--  删掉了 <div></div> -->
                                    <!--  修改了class里面的内容 -->
                                    <div class="col-xs-23 col-sm-23 col-md-23 grade">
{{'暂无评价' if d['num'] == 0 else round(d['score']/float(d['num']), 2)}}
                                    </div>
                                </div>
                                <div class="row">
                                    <!--   删掉了div标题 -->
                                    <!--  删掉了 <div></div> -->
                                    <!--  修改了class里面的内容 -->
                                    <div class="col-xs-23 col-sm-23 col-md-23 ">{{d['name']}}</div>
                                </div>
                            </div>
                        </div>
                    </a>
                    <!--  修改了class里面的内容 -->
                    <div class="col-xs-12 col-sm-12 col-md-12 menu-edit">
                        <div class="operate">
                            <div class="row jishu">
                                <!--  修改了class里面的内容 -->
                                <div class="col-xs-23 col-sm-23 col-md-23 dele pull-right">
                                    <div class="pls pull-right lt-rt">
                                        <input id="min" onclick="minus(this)" name="" type="button" value="-" class="minus"/>
                                        <input name="num" type="text" value="0" class="num" />
                                        <input id="add" onclick="plus(this)" name="" type="button" value="+" class="plus"/>
                                    </div>
                                </div>
                            </div>
                            <div class="row danjia">
                                <!--  修改了class里面的内容 -->
                                <div class="col-xs-23 col-sm-23 col-md-23 dele pull-right">
                                    <div class=" value text-right">￥<span class="price">{{round(d['price']/100.0, 2)}}</span>元/{{d['unit']}}</div>
                                </div>
                            </div>
                            <div class="row op">
                                <!--  修改了class里面的内容 -->
                                <div class="col-xs-23 col-sm-23 col-md-23 edit pull-right lt-r">
                                    <span class="pull-right edit text-right">¥<span class="oprice"></span></span>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            {% end %}
        </div>
    </div>
</div>
