<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" href="css/bootstrap.css">
    <link rel="stylesheet" href="css/default.css">
    <link rel="stylesheet" href="css/Employeelists.css">

    <script src="js/jquery-1.12.1.js"></script>
    <script src="js/bootstrap.min.js"></script>
    <script src="js/default.js"></script>
    <script src="js/Employeelists.js"></script>
</head>
<body>
<nav class="navbar navbar-default navbar-fixed-top">
    <div class="container-fluid">
        <!-- Brand and toggle get grouped for better mobile display -->
        <div class="navbar-header">
            <a class="navbar-brand" href="#">中国人名银行</a>
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
        </div>
        <!-- Collect the nav links, forms, and other content for toggling -->
        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
            <ul class="nav navbar-nav">
                <li><a href="canteen.html">食堂智能服务 <span class="sr-only">(current)</span></a></li>
                <li><a href="meeting.html">会议智能服务</a></li>
                <li><a href="property.html">物业智能服务</a></li>
                <li><a href="notice.html">公告及调查问卷</a></li>
            </ul>
            <ul class="nav navbar-nav navbar-right">
                <li class="dropdown">
                    <a href="#"  class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false"><span>您好</span><span class="LoginName">Hello</span> <span class="caret"></span></a>
                    <ul class="dropdown-menu">
                        <li><a href="PersonalCenter.html">个人中心</a></li>
                        <li><a href="Orderlist.html">订单列表</a></li>
                        <li><a href="#">名单列表中心</a></li>
                    </ul>
                </li>
                <li><div class="Signout">退出</div></li>
            </ul>
        </div><!-- /.navbar-collapse -->
    </div><!-- /.container-fluid -->
</nav>
<div class="Employeelists">
    <h4>员工列表</h4>
    <div class="EmployeelistsBox">
        <button class="btn btn-default addEmployeelist" onclick="openedit()" type="submit">添加用户</button>
        <table id="table" class="table1"  cellspacing="0">
            <tr>
                <th>用户名</th>
                <th>昵称</th>
                <th>办公电话</th>
                <th>移动电话</th>
                <th>密码</th>
                <th>角色</th>
                <th>操作</th>
            </tr>
            <tr>
                <td>test1</td>
                <td>test2</td>
                <td>test1</td>
                <td>test2</td>
                <td>test1</td>
                <td>test2</td>
                <td>
                    <button onclick="openedit()">修改</button>
                    <button onclick="ondelete(this,1)">删除</button>
                </td>
            </tr>
            <tr>
                <td>test1</td>
                <td>test2</td>
                <td>test1</td>
                <td>test2</td>
                <td>test1</td>
                <td>test2</td>
                <td>
                    <button onclick="openedit()">修改</button>
                    <button onclick="ondelete(this,2)">删除</button>
                </td>
            </tr>
            <tr>
                <td>test1</td>
                <td>test2</td>
                <td>test1</td>
                <td>test2</td>
                <td>test1</td>
                <td>test2</td>
                <td>
                    <button onclick="openedit()">修改</button>
                    <button onclick="ondelete(this,3)">删除</button>
                </td>
            </tr>
            <tr>
                <td>test1</td>
                <td>test2</td>
                <td>test1</td>
                <td>test2</td>
                <td>test1</td>
                <td>test2</td>
                <td>
                    <button onclick="openedit()">修改</button>
                    <button onclick="ondelete(this,4)">删除</button>
                </td>
            </tr>
        </table>
    </div>
</div>
<div class="Sure">
    <div class="SureBox">
        <p> 确认删除该用户？ </p>
        <div>
            <span class="SureBtn" onclick="suredelete()" >确定</span>
            <span class="SureBtn" onclick="surecancel()" >取消</span>
        </div>

    </div>
</div>

<div class="Edituser">
    <div class="EdituserBox">
        <div class="EdituserBoxTop">
            <span>编辑用户</span>
            <img onclick="closeedit()" src="img/close.png" alt="">
        </div>
        <form display= "none" class= "form-horizontal" role= "form" enctype= "multipart/form-data" method= "post" action="/up">
            <div class= "form-group ">
                <label for= "dish_name" class= "col-sm-3 control-label ">用户名</label>
                <div class= "col-sm-8 ">
                    <input type= "text " class= "form-control " name= "dish_name">
                </div>
            </div>
            <div class= "form-group">
                <label for= "material" class= "col-sm-3 control-label ">昵称</label>
                <div class= "col-sm-8">
                    <input type= "text" class= "form-control" name= "dish_material">
                </div>
            </div>
            <div class= "form-group">
                <label for= "unit" class= "col-sm-3 control-label ">办公电话</label>
                <div class= "col-sm-8">
                    <input type= "number" class= "form-control" name= "dish_material" >
                </div>
            </div>
            <div class= "form-group">
                <label for= "price" class= "col-sm-3 control-label ">移动电话</label>
                <div class= "col-sm-8">
                    <input type= "number" class= "form-control" name= "dish_material">
                </div>
            </div>
            <div class= "form-group">
                <label for= "price" class= "col-sm-3 control-label ">密码</label>
                <div class= "col-sm-8">
                    <input type= "text" class= "form-control" name= "dish_material">
                </div>
            </div>
            <div class= "form-group">
                <label for= "price" class= "col-sm-3 control-label ">角色</label>
                <div class= "col-sm-8">
                    <select>
                        <option value ="volvo">管理员</option>
                        <option value ="saab">员工</option>
                        <option value="opel">平民</option>
                    </select>
                </div>
            </div>
            <div class="form-group">
                <div style="text-align: center">
                    <input type="submit" class= "btn btn-default ">
                    <input type="button" onclick="closeedit()" class= "btn btn-default " value="取消">
                </div>
            </div>
        </form>
    </div>
</div>
</body>

</html>