<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" href="css/{{device}}/bootstrap.css">
    <link rel="stylesheet" href="css/{{device}}/default.css">
    <link rel="stylesheet" href="css/{{device}}/OrderList.css">
</head>
<body>
{% include "navhead.html" %}
<div class="OrderList">
    <h4>订单列表</h4>
    <div class="OrderListBox">
        <div class="OrderListBoxCenter">
            <label style='width:100px'></label>
            <span>菜名</span>
            <span>数量</span>
            <span>单价</span>
            <span>总价</span>
            <span>下单时间</span>
            <span>取单时间</span>
            <span>实际取单时间</span>
            <span>确认取单</span>
        </div>
        {% for o in orders %}
        <div class="OrderListBoxCenter">
            <img src="{{D['%dpic'%o['dish_id']]}}" alt="">
            <span>{{D['%dname'%o['dish_id']]}}</span>
            <span>{{o['num']}}{{o['unit']}}</span>
            <span>{{round(o['price']/100.0, 2)}}元</span>
            <span>{{round(o['price']*o['num']/100.0, 2)}}元</span>
            <span>{{o['time']}}</span>
            <span>{{o['time1']}}</span>
            <span>{{o['time2'] if o['remove'] == 1 else '未取'}}</span>
            <span style="cursor:pointer" onclick="Confirmation(this,{{o['id']}})">确认取单</span>
        </div>
        {% end %}
    </div>
</div>

</body>
<script src="js/{{device}}/jquery-1.12.1.js"></script>
<script src="js/{{device}}/bootstrap.min.js"></script>
<script src="js/{{device}}/default.js"></script>
<script src="js/{{device}}/OrderList.js"></script>
</html>
