
<div class="Reserve">
    <div class="ReserveBox">
        <p> 预定 <img src="img/close.png" class="ReserveClose" alt=""> </p>
        <div>时间：<span id="reserveTime"></span></div>
        <div>单价：<span id="reservePrice"></span></div>
        <div><span id='unit'></span>：<input id="allnum" type="number" min="1" max="10000"></div>
        <div>总价：<span id="allPrice"></span></div>
        <div>取单时间：<span><input type="text"  id="input1" value=""/></span></div>
        <div class="ReserveBtn">确定</div>
    </div>
</div>
