<!DOCTYPE html>
<html lang="zh-CN">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <meta http-equiv="X-UA-Compatible" content="IE=9" />
    <title>编辑</title>
    <!-- font-icon -->
    <!--  <link rel="stylesheet" href="css/mobile/iconfont.css"/>-->

    <!-- bootstrap-core -->
    <link rel="stylesheet" href="css/mobile/bootstrap.css">
    <link rel="stylesheet" href="css/mobile/bootstrap-theme.css">

    <!-- plugins -->


    <link href="css/mobile/fileinput.css" media="all" rel="stylesheet" type="text/css" />

    <!-- welkin -->



    <link rel="stylesheet" href="css/mobile/form.css" />


    <!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
    <script src="js/mobile/html5shiv.min.js"></script>
    <script src="js/mobile/respond.min.js"></script>
    <![endif]-->




</head>
<div class="container-fluid">
    <div class="row" id="id-back">
        <div class="pull-left col-xs-23 col-sm-23 col-md-23">
            <a href="javascript:history.go(-1)"><img src="images/back.png"  alt=""></a>
        </div>
    </div>

    <div class="form" id="operinfo">
        <div class="container-fluid">
            <div class="row cli">
                <div class="col-xs-7 col-sm-7 col-md-7"><label class="pull-right text-right" for="fname">菜名 </label></div>
                <div class="col-xs-17 col-sm-17 col-md-17">
                    <div class=" input-append" >
                        <input size="16" id="edit-name"  class="col-xs-24 col-sm-24 col-md-24 input-txt" value="{{d['name']}}">
                    </div>
                </div>
            </div>
            <div class="row cli">
                <div class="col-xs-7 col-sm-7 col-md-7"><label class="pull-right text-right" for="material">食材 </label></div>
                <div class="col-xs-17 col-sm-17 col-md-17">
                    <div class=" input-append" >
                        <input size="16" id="edit-style"  class="col-xs-24 col-sm-24 col-md-24 input-txt" value="{{d['material']}}">
                    </div>
                </div>
            </div>
            <div class="row cli">
                <div class="col-xs-7 col-sm-7 col-md-7"><label class="pull-right text-right" for="fname">单位 </label></div>
                <div class="col-xs-17 col-sm-17 col-md-17">
                    <select class="form-control" id="edit-unit">
                        <option value="斤" {{"selected" if d['unit'] == "斤" else ""}}>斤</option>
                        <option value="两" {{"selected" if d['unit'] == "两" else ""}}>两</option>
                        <option value="个" {{"selected" if d['unit'] == "个" else ""}}>个</option>
                        <option value="碗" {{"selected" if d['unit'] == "碗" else ""}}>碗</option>
                        <option value="杯" {{"selected" if d['unit'] == "杯" else ""}}>杯</option>
                        <option value="只" {{"selected" if d['unit'] == "只" else ""}}>只</option>
                        <option value="份" {{"selected" if d['unit'] == "份" else ""}}>份</option>
                    </select>
                </div>
            </div>
            <div class="row cli">
                <div class="col-xs-7 col-sm-7 col-md-7"><label class="pull-right text-right" for="price">价格 </label></div>
                <div class="col-xs-17 col-sm-17 col-md-17">
                    <div class=" input-append" >
                        <input size="16" id="edit-price"  class="col-xs-24 col-sm-24 col-md-24 input-txt" value="{{d['price']}}">
                    </div>
                </div>
            </div>
            <div class="row cli">
                <div class="col-xs-7 col-sm-7 col-md-7"><label class="pull-right text-right" for="">图片 </label></div>
                <div class="col-xs-17 col-sm-17 col-md-17">
                    <div class="container kv-main">
                        <form enctype="multipart/form-data" id='form_img' value="{{d['pic_loc']}}" date="{{d['time']}}">
                            <img src="{{d['pic_loc']}}" id="img_original">
                            <input id="file-0a" class="file" type="file" name="file" multiple >
                            <br>
                        </form>
                    </div>
                </div>
            </div>
            <div class="row cli">
                <div class="col-xs-7 col-sm-7 col-md-7"><label class="pull-right text-right" for="style">类别 </label></div>
                <div class="col-xs-17 col-sm-17 col-md-17">
                    <div class="row">
                        <div class="col-xs-12 col-sm-12 col-md-12 radio radio-box ">
                            <label>
                                <input type="radio" name="style" id="edit-reserve" value="0" {{"checked" if d['kind'] == 0 else ""}}>
                                预定
                            </label>
                        </div>
                        <div class="col-xs-12 col-sm-12 col-md-12 radio radio-box ">
                            <label>
                                <input type="radio" name="style" id="edit-bf" value="16" {{"checked" if d['kind'] == 16 else ""}}>
                                早餐
                            </label>
                        </div>
                    </div>
                    <div class="row">
                        <div class=" col-xs-12 col-sm-12 col-md-12 radio radio-box ">
                            <label>
                                <input type="radio" name="style" id="edit-lh" value="256" {{"checked" if d['kind'] == 256 else ""}}>
                                午餐
                            </label>
                        </div>
                        <div class=" col-xs-12 col-sm-12 col-md-12 radio radio-box ">
                            <label>
                                <input type="radio" name="style" id="edit-dn" value="4096" {{"checked" if d['kind'] == 4096 else ""}}>
                                晚餐
                            </label>
                        </div>
                    </div>


                    <!--   <div class="radio disabled">
                           <label>
                               <input type="radio" name="optionsRadios" id="optionsRadios3" value="option3" disabled>
                               不可点击
                           </label>
                       </div>-->
                </div>
            </div>
            <div class="row cli">
                <div class="col-sm-offset-2 col-sm-20">
                    <button type="submit"  id="data-edit"  class="btn btn-primary btn-lg btn-block" dish="{{d['id']}}">修改</button>
                </div>
            </div>
        </div>
    </div>



</div>


<body>




<!--js-->
<script src="js/mobile/jquery.min.js"></script>
<script src="js/mobile/bootstrap.js"></script>

<script src="js/mobile/fileinput.js" type="text/javascript"></script>
<script src="js/mobile/fileinput_locale_de.js" type="text/javascript"></script>
<script src="js/mobile/edit.js"></script>
<script src="js/mobile/form.js"></script>
<script>



</script>

</body>
</html>
