<!DOCTYPE html>
<html lang="zh-CN">
<head lang="en">
    <meta charset="UTF-8">

    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <meta http-equiv="X-UA-Compatible" content="IE=9" />
    <title>登录</title>
    <!-- styles-->

    <!-- font-icon -->

    <!-- bootstrap-core -->
    <link rel="stylesheet" href="../css/bootstrap.css">


    <link rel="stylesheet" href="../css/login.css">
    <!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
    <script src="../js/html5shiv.min.js"></script>
    <script src="../js/respond.min.js"></script>
    <![endif]-->
</head>

<body>
<div class="container-fluid ">

    <div class="page-header">
        <h1 class="text-center">登录</h1>
    </div>
    <form class="form-horizontal"  id="defaultForm" method="post"  action="ajaxSubmit.php">
        <div class="form-group">
            <label for="username" class="col-xs-4  col-sm-4 col-md-4 col-lg-4 control-label">用户名</label>
            <div class=" col-xs-20 col-sm-20 col-md-20 col-lg-20">
                <input type="email" class="form-control"  name="username" id="username" placeholder="请输入">
            </div>
        </div>
        <div class="form-group">
            <label for="inputPassword3" class=" col-xs-4  col-sm-4 col-md-4 col-lg-4 control-label">密码</label>
            <div class="col-xs-20 col-sm-20 col-md-20 col-lg-20">
                <input type="password" class="form-control" id="inputPassword3" name="password"  placeholder="请输入 ">
            </div>
        </div>
        <div class="form-group">
            <div class="col-sm-offset-2 col-sm-10">
                <div class="checkbox">
                    <label>
                        <input type="checkbox"> 记住密码
                    </label>
                </div>
            </div>
        </div>
        <div class="form-group">
            <div class="col-sm-offset-2 col-sm-20">
                <a type="submit" href="index.html"  class="btn btn-primary btn-lg btn-block">登录</a>
            </div>
        </div>
    </form>
</div>



<!--js-->
<script src="../js/jquery.min.js"></script>
<script src="../js/bootstrap.js"></script>
<!--<script src="../js/bootstrapValidator.js"></script>-->

<script src="../js/welkin.js"></script>

<script>

</script>
</body>
</html>

