<!DOCTYPE html>
<html>
<head lang="en">
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
    <link rel="stylesheet" href="../../lib/bootstrap/css/bootstrap.min.css"/>
    <link rel="stylesheet" href="../../lib/autocompleter/jquery.autocompleter.css"/>
    <link rel="stylesheet" href="../styles/practice.css"/>
    <link rel="stylesheet" href="../../lib/font-welkin/css/iconfont.css"/>
    <link rel="stylesheet" href="../../lib/bootstrap-datepicker-master/dist/css/bootstrap-datepicker.min.css"/>

</head>
<body>
<header class="header">
    <div class="nav-menu">
        <div class="pull-left">
            <span class="glyphicon glyphicon-headphones"></span>
            <span>聚合支付</span>
        </div>
        <div class="pull-right">
           <nav class="nav-ul">
               <ul class="language-selet">
                   <li class="nav-sp">
                       <a href="#" class="language"><span>Global Sites</span></a>
                       <div class="nation" id="language">
                           <ul class="language_list">
                               <li class="lan"><a href="">中文</a></li>
                               <li class="lan"><a href="">日本语</a></li>
                               <li class="lan"><a href="">English</a></li>
                           </ul>
                       </div>
                   </li>
               </ul>
               <ul class="service">
                   <li class="nav-sp">
                       <a href="">
                           <span>客服中心</span>
                       </a>
                   </li>
               </ul>
               <ul class="tel">
                   <ul class="number-box">
                       <li >
                           <a href="#" class="phone-number">
                           <span>国内：
                           <i>400-830-6666</i>
                           </span>
                           </a>
                           <div class="nation"  id="number">
                               <ul class="language_list">
                                   <li class="lan"><a href="">230-2309-0000</a></li>
                                   <li class="lan"><a href="">020-3333-2121</a></li>
                                   <li class="lan"><a href="">122-3212-0000</a></li>
                               </ul>

                           </div>
                       </li>
                   </ul>
               </ul>
           </nav>
        </div>
    </div>
</header>
<div class="nav">
    <div class="pull-left">
        <ul class="nav-list">
            <li class="home">首页</li>
            <li class="hotel">
                <a href="#" id="nav-hotel" class="cui-nav-has">
                    酒店
                    <i class="cui_ico_triangle"></i>
                    <span class="point"></span>
                </a>

                <div class="cui-sub nav-wrap">
                    <ul id="ul-nav-hotel" class="cui-sub-nav">
                        <li><a href="#" class="li-ch-hote">国内酒店</a></li>
                        <li><a href="#" class="li-ch-hote">海外酒店</a></li>
                        <li><a href="#" class="li-ch-hote">海外民宿</a></li>
                        <li><a href="#" class="li-ch-hote">团购</a></li>
                        <li><a href="#" class="li-ch-hote">特价酒店</a></li>
                        <li><a href="#" class="li-ch-hote">途家公寓</a></li>
                    </ul>
                </div>
            </li>
            <li class="travel">
                <a href="#" id="nav-travel" class="cui-nav-tra">
                    旅游
                </a>
                <div class="cui-tra nav-wrap">
                    <ul id="ul-nav-tra" class="cui-tra-nav">
                        <li><a href="#" class="li-ch-tra">旅游首页</a></li>
                        <li><a href="#" class="li-ch-tra">周末游</a></li>
                        <li><a href="#" class="li-ch-tra">跟团游</a></li>
                        <li><a href="#" class="li-ch-tra">自由行</a></li>
                        <li><a href="#" class="li-ch-tra">邮轮</a></li>
                        <li><a href="#" class="li-ch-tra">当地玩乐</a></li>
                        <li><a href="#" class="li-ch-tra">游学</a></li>
                    </ul>
                </div>
            </li>
            <li class="travel">机票</li>
            <li class="travel">火车</li>
            <li class="travel">汽车票</li>
            <li class="travel">用车</li>
            <li class="travel">门票</li>
            <li class="travel">团购</li>
            <li class="travel">攻略</li>
            <li class="travel">全球购</li>
            <li class="travel">礼品卡</li>
            <li class="travel">商旅</li>
            <li class="travel">游轮</li>
            <li class="travel">天海游轮</li>
            <li class="travel">更多</li>
        </ul>
    </div>
    <div class="pull-right"></div>
</div>

<div class="abc" data-spy="scroll" data-target="#navbar-example">
  <div id="navbar-example">
      <ul class="nav nav-tabs" role="tablist">
          <li role="presentation" class="active"><a href="#home" aria-controls="home" role="tab" data-toggle="tab">Home</a></li>
          <li role="presentation"><a href="#profile" aria-controls="profile" role="tab" data-toggle="tab">Profile</a></li>
          <li role="presentation"><a href="#messages" aria-controls="messages" role="tab" data-toggle="tab">Messages</a></li>
          <li role="presentation"><a href="#settings" aria-controls="settings" role="tab" data-toggle="tab">Settings</a></li>
      </ul>
      <div class="tab-content">
          <div role="tabpanel" class="tab-pane active" id="home">...</div>
          <div role="tabpanel" class="tab-pane" id="profile">...</div>
          <div role="tabpanel" class="tab-pane" id="messages">...</div>
          <div role="tabpanel" class="tab-pane" id="settings">...</div>
      </div>

  </div>
</div>








<script src="../../lib/jquery/jquery.min.js"></script>
<script src="../../lib/bootstrap/js/bootstrap.min.js"></script>
<script src="../../lib/autocompleter/jquery.autocompleter.js"></script>
<script src="../../lib/bootstrap-datepicker-master/dist/js/bootstrap-datepicker.min.js"></script>
<script src="../js/practice.js"></script>
<script>


    $('.abc').scrollspy({ target: '#navbar-example' })
    $('[data-spy="scroll"]').each(function () {
        var $spy = $(this).scrollspy('refresh')
    })
</script>
</body>

</html>