
            <div class="tab-pane fade" id="ad-history">
                <div class="from-order ">
                    <div class="order-head">
                        <div class="row">
                            <div class="col-xs-12 col-sm-12 col-md-12">
                                <div>
                                    <span class="title">订单编号</span>
                                    <span class="o-num">113300023</span>
                                </div>
                                <div class="un">取餐 <span class="username">&nbsp; 张三三三</span></div>
                            </div>
                            <div class="col-xs-12 col-sm-12 col-md-12 pull-right">
                                <a href="#"  class="pull-right delevo">删除</a>
                            </div>
                        </div>
                    </div>

                    <div class="order-bottom">
                        <div class="row dish">
                            <div class="col-xs-12 col-sm-12 col-md-12 orimg">
                                <img src="../assets/images/food.png" alt="">
                            </div>
                            <div class="col-xs-12 col-sm-12 col-md-12">
                                <div class="row">
                                    <div class="col-xs-11 col-sm-11 col-md-11">
                                        <span class="title pull-right">菜名</span>
                                    </div>
                                    <div class="col-offset-xs-1 col-offset-sm-1 col-offset-md-1 col-xs-12 col-sm-12 col-md-12">
                                        <span class="d-name pull-left">辣子鸡</span>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-xs-11 col-sm-11 col-md-11">
                                        <span class="title pull-right">下单时间</span>
                                    </div>
                                    <div class="col-offset-xs-1 col-offset-sm-1 col-offset-md-1 col-xs-12 col-sm-12 col-md-12">
                                        <span class="xiadan pull-left">2017 09 01</span>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-xs-11 col-sm-11 col-md-11">
                                        <span class="title pull-right">数量</span>
                                    </div>
                                    <div class="col-offset-xs-1 col-offset-sm-1 col-offset-md-1 col-xs-12 col-sm-12 col-md-12">
                                        <span class="amount pull-left">2</span>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-xs-11 col-sm-11 col-md-11">
                                        <span class="title pull-right">取单时间</span>
                                    </div>
                                    <div class="col-offset-xs-1 col-offset-sm-1 col-offset-md-1 col-xs-12 col-sm-12 col-md-12">
                                        <span class="qudan pull-left">2017 09 02</span>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-xs-11 col-sm-11 col-md-11">
                                        <span class="title pull-right">单价</span>
                                    </div>
                                    <div class="col-offset-xs-1 col-offset-sm-1 col-offset-md-1 col-xs-12 col-sm-12 col-md-12">
                                        <span class="atotle pull-left">12元</span>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-xs-11 col-sm-11 col-md-11">
                                        <span class="title pull-right">状态</span>
                                    </div>
                                    <div class="col-offset-xs-1 col-offset-sm-1 col-offset-md-1 col-xs-12 col-sm-12 col-md-12">
                                        <span class="state pull-left view-ready">已取</span>
                                    </div>
                                </div>
                            </div>
                        </div>

                    </div>
                </div>

            </div>
