<!DOCTYPE html>
<html lang="zh-CN">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <meta http-equiv="X-UA-Compatible" content="IE=9" />

    <title>index</title>

    <!-- font-icon -->


    <!-- bootstrap-core -->
    <link rel="stylesheet" href="../css/bootstrap.css">
    <link rel="stylesheet" href="../css/bootstrap-theme.css">

    <!-- plugins -->
    <link rel="stylesheet" href="../css/bootstrap.addtabs.css"/>

    <!-- welkin -->


    <link rel="stylesheet" href="../styles/index.css">
    <link rel="stylesheet" href="../styles/hoop.css" media="only screen and(max-width:960px)"/>

    <style>
        @media screen and(min-width:480px){
            body{background:blue;}
        }
    </style>


    <!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
    <script src="../../lib/html5shiv.min.js"></script>
    <script src="../../lib/respond.min.js"></script>
    <![endif]-->




</head>

<body>

<div class="container-fluid">
    <div class="page-header">
        <h1 class="text-center">食堂</h1>
    </div>
    <div class="contain-box ">


        <div class="row">
            <div class="col-xs-12 col-sm-12 col-md-12">
                <div class="form-group container  ">
                    <a href="menu.html" class="">
                        <img src="../assets/images/index/menu.png" class="img-responsive" alt="Responsive image">
                        <span class="text-center ">菜谱</span>
                    </a>
                </div>
            </div>
            <div class="col-xs-12 col-sm-12 col-md-12">
                <div class="form-group container ">
                    <a href="reserve.html" class="">
                        <img src="../assets/images/index/reserve.png" class="img-responsive" alt="Responsive image">
                        <span class="text-center">预定</span>
                    </a>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-xs-12 col-sm-12 col-md-12">
                <div class="form-group container ">
                    <a href="#" class="">
                        <img src="../assets/images/index/order.png" class="img-responsive" alt="Responsive image">
                        <span class="text-center">订单管理</span>
                    </a>
                </div>
            </div>
            <div class="col-xs-12 col-sm-12 col-md-12">
                <div class="form-group container ">
                    <a href="#" class="">
                        <img src="../assets/images/index/user.png" class="img-responsive" alt="Responsive image">
                        <span class="text-center">个人中心</span>
                    </a>
                </div>
            </div>
        </div>
    </div>
</div>



<!--js-->
<script src="../js/jquery.min.js"></script>
<script src="../js/bootstrap.js"></script>
<script src="../js/jquery.autocompleter.js"></script>
<script src="../js/bootstrap.addtabs.js"></script>

<script src="../js/welkin.js"></script>

<script>




</script>

</body>
</html>