<!DOCTYPE html>
<html lang="zh-CN">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <meta http-equiv="X-UA-Compatible" content="IE=9" />
    <title>evaluate</title>
    <!-- font-icon -->
    <!--   <link rel="stylesheet" href="../../lib/font-welkin/css/iconfont.css"/>-->

    <!-- bootstrap-core -->
    <link rel="stylesheet" href="../css/bootstrap.css">
    <link rel="stylesheet" href="../css/bootstrap-theme.css">

    <!-- plugins -->
    <link rel="stylesheet" href="../css/bootstrap.addtabs.css"/>

    <link rel="stylesheet" href="../css/bootstrap-datetimepicker.css">


    <link rel="stylesheet" href="../css/hoop.css" />



    <!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
    <script src="../js/html5shiv.min.js"></script>
    <script src="../js/respond.min.js"></script>
    <![endif]-->


</head>

<body>

<div class="container-fluid">
    <div class="page-header">
        <div class="pull-left"><a href="index.html"><img src="../assets/images/back.png"  alt=""></a></div>
        <h1 class="text-center">菜谱总览</h1>
        <div class="pull-right"><a class="plus-dish" href="edit.html"> <span class="glyphicon glyphicon-plus" "></span></a></div>
    </div>
    <div class="from-group">
        <div class="row">
            <div class="container-fluid">
                <div class="container menu-datetime">
                    <div class="col-xs-8 col-sm-8 col-md-8"><label class="pull-right text-right" for="datetime">选择日期</label></div>
                    <div class="col-xs-16 col-sm-16 col-md-16">
                        <div class=" input-append date form_datetime"  id="datetimepicker">
                            <input size="16"  class="input-txt"  type="text" value="" readonly name="datetime">
                            <span class="add-on "><i class="icon iconfont icon-calendar"  data-time-icon="icon-time" data-date-icon="icon-calendar"></i></span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="from-group">
        <ul id="myTab" class="nav nav-tabs">
            <li class="col-xs-8 col-sm-8 col-md-8 menu-tabb active"><a href="#Breakfast " data-toggle="tab">早餐</a></li>
            <li class="col-xs-8 col-sm-8 col-md-8 menu-tabl"><a href="#lunch" data-toggle="tab">午餐</a></li>
            <li class="col-xs-8 col-sm-8 col-md-8 menu-tabd"><a href="#dinner" data-toggle="tab">晚餐</a></li>
        </ul>
        <div id="myTabContent" class="tab-content ">
            <div class="tab-pane fade in active" id="Breakfast">
                <div class="from-order ">
                    <div class="row">
                        <a  class="col-xs-18 col-sm-18 col-md-18" href="evaluate.html">
                            <div class="col-xs-4 col-sm-4 col-md-4 menu-img">
                                <img src="../assets/images/food.png" alt="">
                            </div>
                            <div class="col-xs-16 col-sm-16 col-md-16 menu-txt">
                                <div class="dishes">
                                    <div class="row">
                                        <div class="col-xs-offset-1 col-sm-offset-1 col-md-offset-1 col-xs-8 col-sm-8 col-md-8 name">菜品名称</div>
                                        <div class="col-xs-15 col-sm-15 col-md-15 grade">4.0</div>
                                    </div>
                                    <div class="row">
                                        <div class="col-xs-offset-1 col-sm-offset-1 col-md-offset-1 col-xs-8 col-sm-8 col-md-8 material">食材</div>
                                        <div class="col-xs-15 col-sm-15 col-md-15 material-style">面粉、花椒</div>
                                    </div>
                                    <div class="row">
                                        <div class="col-xs-offset-1 col-sm-offset-1 col-md-offset-1 col-xs-8 col-sm-8 col-md-8 price">价格</div>
                                        <div class="col-xs-15 col-sm-15 col-md-15 value">￥5元</div>
                                    </div>
                                </div>
                            </div>
                        </a>
                        <div class="col-xs-6 col-sm-6 col-md-6 menu-edit">
                            <div class="operate">
                                <div class="col-xs-24 col-sm-24 col-md-24 dele pull-right">
                                    <button type="button" class="close cd"   data-dismiss="modal" aria-label="Close"><span aria-hidden="true">×</span>
                                </div>
                                <div class="col-xs-24 col-sm-24 col-md-24 edit pull-right">
                                    <a href="edit.html">
                                        <input type="submit" class="btn btn-primary btn-md pull-right" href="edit.html" value="编辑"/>
                                    </a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="from-order">
                    <div class="row">
                        <div class="col-xs-8 col-sm-8 col-md-8 menu-img">
                            <img src="../assets/images/food.png" alt="">
                        </div>
                        <div class="col-xs-10 col-sm-10 col-md-10 menu-txt">
                            <div class="dishes">
                                <div class="row">
                                    <div class="col-xs-offset-1 col-sm-offset-1 col-md-offset-1 col-xs-8 col-sm-8 col-md-8 name">菜品名称</div>
                                    <div class="col-xs-offset-1 col-sm-offset-1 col-md-offset-1 col-xs-13 col-sm-13 col-md-13 grade">4.0</div>
                                </div>
                                <div class="row">
                                    <div class="col-xs-offset-1 col-sm-offset-1 col-md-offset-1 col-xs-8 col-sm-8 col-md-8 material">食材</div>
                                    <div class="col-xs-offset-1 col-sm-offset-1 col-md-offset-1 col-xs-13 col-sm-13 col-md-13 material-style">面粉、花椒</div>
                                </div>
                                <div class="row">
                                    <div class="col-xs-offset-1 col-sm-offset-1 col-md-offset-1 col-xs-8 col-sm-8 col-md-8 price">价格</div>
                                    <div class="col-xs-offset-1 col-sm-offset-1 col-md-offset-1 col-xs-13 col-sm-13 col-md-13 value">￥5元</div>
                                </div>
                            </div>
                        </div>
                        <div class="col-xs-6 col-sm-6 col-md-6 menu-edit">
                            <div class="operate">
                                <div class="col-xs-24 col-sm-24 col-md-24 dele pull-right">
                                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">×</span>
                                </div>
                                <div class="col-xs-24 col-sm-24 col-md-24 edit pull-right">
                                    <button type="button" class="btn btn-primary btn-md pull-right ">编辑</button>
                                </div>
                            </div>
                        </div>
                    </div>
            </div>
                <div class="from-order">
                    <div class="row">
                        <div class="col-xs-8 col-sm-8 col-md-8 menu-img">
                            <img src="../assets/images/food.png" alt="">
                        </div>
                        <div class="col-xs-10 col-sm-10 col-md-10 menu-txt">
                            <div class="dishes">
                                <div class="row">
                                    <div class="col-xs-offset-1 col-sm-offset-1 col-md-offset-1 col-xs-8 col-sm-8 col-md-8 name">菜品名称</div>
                                    <div class="col-xs-offset-1 col-sm-offset-1 col-md-offset-1 col-xs-13 col-sm-13 col-md-13 grade">4.0</div>
                                </div>
                                <div class="row">
                                    <div class="col-xs-offset-1 col-sm-offset-1 col-md-offset-1 col-xs-8 col-sm-8 col-md-8 material">食材</div>
                                    <div class="col-xs-offset-1 col-sm-offset-1 col-md-offset-1 col-xs-13 col-sm-13 col-md-13 material-style">面粉、花椒</div>
                                </div>
                                <div class="row">
                                    <div class="col-xs-offset-1 col-sm-offset-1 col-md-offset-1 col-xs-8 col-sm-8 col-md-8 price">价格</div>
                                    <div class="col-xs-offset-1 col-sm-offset-1 col-md-offset-1 col-xs-13 col-sm-13 col-md-13 value">￥5元</div>
                                </div>
                            </div>
                        </div>
                        <div class="col-xs-6 col-sm-6 col-md-6 menu-edit">
                            <div class="operate">
                                <div class="col-xs-24 col-sm-24 col-md-24 dele pull-right">
                                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">×</span>
                                </div>
                                <div class="col-xs-24 col-sm-24 col-md-24 edit pull-right">
                                    <button type="button" class="btn btn-primary btn-md pull-right ">编辑</button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="tab-pane fade" id="lunch">
                <div class="from-order">
                    <div class="row">
                        <div class="col-xs-8 col-sm-8 col-md-8 menu-img">
                            <img src="../assets/images/food.png" alt="">
                        </div>
                        <div class="col-xs-14 col-sm-14 col-md-14 menu-txt">
                            <div class="dishes">
                                <div class="row">
                                    <div class="col-xs-offset-1 col-sm-offset-1 col-md-offset-1 col-xs-8 col-sm-8 col-md-8 name">菜品名称</div>
                                    <div class="col-xs-offset-1 col-sm-offset-1 col-md-offset-1 col-xs-13 col-sm-13 col-md-13 grade">66.0</div>
                                </div>
                                <div class="row">
                                    <div class="col-xs-offset-1 col-sm-offset-1 col-md-offset-1 col-xs-8 col-sm-8 col-md-8 material">食材</div>
                                    <div class="col-xs-offset-1 col-sm-offset-1 col-md-offset-1 col-xs-13 col-sm-13 col-md-13 material-style">面粉、花椒</div>
                                </div>
                                <div class="row">
                                    <div class="col-xs-offset-1 col-sm-offset-1 col-md-offset-1 col-xs-8 col-sm-8 col-md-8 price">价格</div>
                                    <div class="col-xs-offset-1 col-sm-offset-1 col-md-offset-1 col-xs-13 col-sm-13 col-md-13 value">￥7元</div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="from-order">
                    <div class="row">
                        <div class="col-xs-8 col-sm-8 col-md-8 menu-img">
                            <img src="../assets/images/food.png" alt="">
                        </div>
                        <div class="col-xs-10 col-sm-10 col-md-10 menu-txt">
                            <div class="dishes">
                                <div class="row">
                                    <div class="col-xs-offset-1 col-sm-offset-1 col-md-offset-1 col-xs-8 col-sm-8 col-md-8 name">菜品名称</div>
                                    <div class="col-xs-offset-1 col-sm-offset-1 col-md-offset-1 col-xs-13 col-sm-13 col-md-13 grade">4.0</div>
                                </div>
                                <div class="row">
                                    <div class="col-xs-offset-1 col-sm-offset-1 col-md-offset-1 col-xs-8 col-sm-8 col-md-8 material">食材</div>
                                    <div class="col-xs-offset-1 col-sm-offset-1 col-md-offset-1 col-xs-13 col-sm-13 col-md-13 material-style">面粉、花椒</div>
                                </div>
                                <div class="row">
                                    <div class="col-xs-offset-1 col-sm-offset-1 col-md-offset-1 col-xs-8 col-sm-8 col-md-8 price">价格</div>
                                    <div class="col-xs-offset-1 col-sm-offset-1 col-md-offset-1 col-xs-13 col-sm-13 col-md-13 value">￥5元</div>
                                </div>
                            </div>
                        </div>
                        <div class="col-xs-6 col-sm-6 col-md-6 menu-edit">
                            <div class="operate">
                                <div class="col-xs-24 col-sm-24 col-md-24 dele pull-right">
                                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">×</span>
                                </div>
                                <div class="col-xs-24 col-sm-24 col-md-24 edit pull-right">
                                    <button type="button" class="btn btn-primary btn-md pull-right ">编辑</button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="from-order">
                    <div class="row">
                        <div class="col-xs-8 col-sm-8 col-md-8 menu-img">
                            <img src="../assets/images/food.png" alt="">
                        </div>
                        <div class="col-xs-14 col-sm-14 col-md-14 menu-txt">
                            <div class="dishes">
                                <div class="row">
                                    <div class="col-xs-offset-1 col-sm-offset-1 col-md-offset-1 col-xs-8 col-sm-8 col-md-8 name">菜品名称</div>
                                    <div class="col-xs-offset-1 col-sm-offset-1 col-md-offset-1 col-xs-13 col-sm-13 col-md-13 grade">4.0</div>
                                </div>
                                <div class="row">
                                    <div class="col-xs-offset-1 col-sm-offset-1 col-md-offset-1 col-xs-8 col-sm-8 col-md-8 material">食材</div>
                                    <div class="col-xs-offset-1 col-sm-offset-1 col-md-offset-1 col-xs-13 col-sm-13 col-md-13 material-style">面粉、花椒</div>
                                </div>
                                <div class="row">
                                    <div class="col-xs-offset-1 col-sm-offset-1 col-md-offset-1 col-xs-8 col-sm-8 col-md-8 price">价格</div>
                                    <div class="col-xs-offset-1 col-sm-offset-1 col-md-offset-1 col-xs-13 col-sm-13 col-md-13 value">￥5元</div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="tab-pane fade" id="dinner">
                <div class="from-order">
                    <div class="row">
                        <div class="col-xs-8 col-sm-8 col-md-8 menu-img">
                            <img src="../assets/images/food.png" alt="">

                        </div>
                        <div class="col-xs-14 col-sm-14 col-md-14 menu-txt">
                            <div class="dishes">
                                <div class="row">
                                    <div class="col-xs-offset-1 col-sm-offset-1 col-md-offset-1 col-xs-8 col-sm-8 col-md-8 name">菜品名称</div>
                                    <div class="col-xs-offset-1 col-sm-offset-1 col-md-offset-1 col-xs-13 col-sm-13 col-md-13 grade">￥9.0</div>
                                </div>
                                <div class="row">
                                    <div class="col-xs-offset-1 col-sm-offset-1 col-md-offset-1 col-xs-8 col-sm-8 col-md-8 material">食材</div>
                                    <div class="col-xs-offset-1 col-sm-offset-1 col-md-offset-1 col-xs-13 col-sm-13 col-md-13 material-style">面粉、花椒</div>
                                </div>
                                <div class="row">
                                    <div class="col-xs-offset-1 col-sm-offset-1 col-md-offset-1 col-xs-8 col-sm-8 col-md-8 price">价格</div>
                                    <div class="col-xs-offset-1 col-sm-offset-1 col-md-offset-1 col-xs-13 col-sm-13 col-md-13 value">￥9元</div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="from-order">
                    <div class="row">
                        <div class="col-xs-8 col-sm-8 col-md-8 menu-img">
                            <img src="../assets/images/food.png" alt="">
                        </div>
                        <div class="col-xs-14 col-sm-14 col-md-14 menu-txt">
                            <div class="dishes">
                                <div class="row">
                                    <div class="col-xs-offset-1 col-sm-offset-1 col-md-offset-1 col-xs-8 col-sm-8 col-md-8 name">菜品名称</div>
                                    <div class="col-xs-offset-1 col-sm-offset-1 col-md-offset-1 col-xs-13 col-sm-13 col-md-13 grade">4.0</div>
                                </div>
                                <div class="row">
                                    <div class="col-xs-offset-1 col-sm-offset-1 col-md-offset-1 col-xs-8 col-sm-8 col-md-8 material">食材</div>
                                    <div class="col-xs-offset-1 col-sm-offset-1 col-md-offset-1 col-xs-13 col-sm-13 col-md-13 material-style">面粉、花椒</div>
                                </div>
                                <div class="row">
                                    <div class="col-xs-offset-1 col-sm-offset-1 col-md-offset-1 col-xs-8 col-sm-8 col-md-8 price">价格</div>
                                    <div class="col-xs-offset-1 col-sm-offset-1 col-md-offset-1 col-xs-13 col-sm-13 col-md-13 value">￥5元</div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="from-order">
                    <div class="row">
                        <div class="col-xs-8 col-sm-8 col-md-8 menu-img">
                            <img src="../assets/images/food.png" alt="">
                        </div>
                        <div class="col-xs-14 col-sm-14 col-md-14 menu-txt">
                            <div class="dishes">
                                <div class="row">
                                    <div class="col-xs-offset-1 col-sm-offset-1 col-md-offset-1 col-xs-8 col-sm-8 col-md-8 name">菜品名称</div>
                                    <div class="col-xs-offset-1 col-sm-offset-1 col-md-offset-1 col-xs-13 col-sm-13 col-md-13 grade">4.0</div>
                                </div>
                                <div class="row">
                                    <div class="col-xs-offset-1 col-sm-offset-1 col-md-offset-1 col-xs-8 col-sm-8 col-md-8 material">食材</div>
                                    <div class="col-xs-offset-1 col-sm-offset-1 col-md-offset-1 col-xs-13 col-sm-13 col-md-13 material-style">面粉、花椒</div>
                                </div>
                                <div class="row">
                                    <div class="col-xs-offset-1 col-sm-offset-1 col-md-offset-1 col-xs-8 col-sm-8 col-md-8 price">价格</div>
                                    <div class="col-xs-offset-1 col-sm-offset-1 col-md-offset-1 col-xs-13 col-sm-13 col-md-13 value">￥5元</div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

        </div>
    </div>


</div>



<!--js-->
<script src="../js/jquery.min.js"></script>
<script src="../js/bootstrap.js"></script>
<script src="../js/jquery.autocompleter.js"></script>
<script src="../js/bootstrap.addtabs.js"></script>
<script src="../js/bootstrap-datetimepicker.js"></script>
<script src="../js/bootstrap-datetimepicker.fr.js" charset="UTF-8"></script>
<script src="../js/main.js"></script>
<script>



</script>

</body>
</html>